<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abdullayev Elchin">
    <meta name="keywords" content="Registration page">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sign Up Page</title>
</head>
<body>
    <article class="container">

        <div class="block">
            <form action="#" class="signup-form">
<!-- 
                {% csrf_token %}
                {{ form.name }}
                {{ form.lastName }}
                {{ form.email }}
                {{ form.password }}
     -->            
                <h3 class="signup-form__title">Регистрация</h3>
                <p>
                    <input type="text" placeholder="Name" required maxlength="15" class="signup-form__input">
                </p>
                <p>
                    <input type="text" placeholder="Last Name" required maxlength="15" class="signup-form__input">
                </p>
                <p>
                    <input type="email" placeholder="Email" required maxlength="15" class="signup-form__input">
                </p>
                <p>
                    <input type="password" placeholder="Password" required maxlength="15" class="signup-form__input">
                </p>
                <button class="block-item__btn" id="signup-btn" type="submit">Зарегестрироваться</button>
            </form>
            <span>{{ error }}</span>
        </div>
    </article>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>